.auth-box {
    background: #FFFFFF;
    border-radius: 5px;     
    padding: 40px 45px;
}

.auth-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.closeButton {
    font-weight: bold;
    font-size: 26px;
    color: #000;
    opacity: 1;
}
.closeButton:hover {
    opacity: .5;
    cursor: pointer;
}

.form-control {
    margin: 8px 0;
    display: flex;
    justify-content: flex-end;
}

.form-control-pass{
    display: flex;
    justify-content: space-between;
}

.input {
    width: 100%;
}

.error-message {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: red;
    min-height: 18px;
}

.form-box {
    margin-top: 30px;
    min-width: 498px;
}

.message {
    margin: 40px 0 ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
}

.centr {
    display: flex;
    justify-content: center;
}

.edit{
    display: flex;
    align-items: baseline;
}

.edit-icon {
    font-size: 24px;
    opacity: .40;
}

.edit-icon:hover{
    opacity: .70;
}

.account-name{
    margin-right: 20px;
}

.name-input{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    padding: 1px 2px 1px 0;
    margin-right: 20px;
}

.name-input-edit{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    max-width: 300px;
    margin-top: 5px;
    padding: 1px 2px 1px 0;
}

.account-holder{
    height: 40px;
    width: 50%;
}

.orders,
.orders-list{
    margin-top: 44px;
}

.order-time{
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
}

.forgetPass{
    color: #1890FF;
    cursor: pointer;
}

.order-item ,
.order-item-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-box-header {
    display: flex;
    align-items: center;
}

.order-footer{
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.order-item{
    margin-top: 15px;
    margin-bottom: 8px;
}

.order-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin: 15px 0;
    max-width: 70%;
}

.order-box-header{
    padding: 24px 24px 0 24px;
}

.order-box-img {
    width: 154px;
    height: 100px;
    margin-right: 24px;
}

.order-box-holder{
    height: 250px;
}

.order-h3-holder {
    height: 25px;
    width: 200px;
    margin-bottom: 5px;
}

.order-box-sum-holder{
    height: 43px;
    width: 80px;
}

.order-box-list {
    padding: 24px;
}

@media screen and (max-width: 425px) {
    .order-box {
        max-width: 405px;
    }

    .order-item {
        flex-wrap: wrap;
    }

    .order-item {
        display: block;
    }

    .order-item-right .price,
    .order-item-right .sum-price{
        margin: 0;
        font-size: 16px;
    }

    .auth-box {
        width: 100%;
    }

    .auth-background{
        background: #FFFFFF;
    }

    .form-box{
        min-width: 0;
    }

    .form-control{
        justify-content: center;
    }

    .form-control-pass{
        flex-direction: column;
    }

    .first-input-pass{
        margin-bottom: 8px;
    }
}