.input-restorants {
    width: 306px;
}

.restorants-area {
    max-width: 1200px;
    margin-top: 44px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.header-restorants{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-restorants h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.restorant-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    width: 384px;
    margin: 6px;
    padding-bottom: 20px;
    overflow: hidden;
}

.restorant-card img {
    border-radius: 7px 7px 0 0 ;
}

.restorant-card:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.restorant-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 24px 0 24px;
}

.restorant-info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 24px;
}

.rating {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
    margin-right: 26px;
}

.rating span {
    margin: 7px;
}

.description {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.ellipse {
    background: #8C8C8C;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 10px;
}

.delivery-time {
    background: #262626;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 1px 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.restorant-img {
    height: 250px;
    width: 384px;
}

.h3-holder {
    height: 24px;
    width: 260px;
}

.delivery-time-holder {
    width: 55px;
    height: 22px;
}

.restorant-info-holder {
    margin: 24px 24px;
    height: 18px;
    width: 335px;
}

.restorants {
    margin-bottom: 90px;
}

.rating-new {
    background-color:#0EC645;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 1px 8px;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    margin-right: 26px;
    max-height: 20px;
}


@media screen and (max-width: 375px) {
    .restorants-area {
        max-width: 355px;
        justify-content: center;
    }
    .input-restorants {
        max-width: 150px;
    }

    .restorant-card {
        max-width: 355px;
    }

    .restorant-card span {
        font-size: .75em;
    }

    .restorant-img {
        max-width: 355px;
    }

    footer{
        max-height: 150px;
    }
}

@media screen and (max-width: 320px) {
    .restorants-area {
        max-width: 300px;
        justify-content: center;
    }
    .input-restorants {
        max-width: 150px;
    }

    .restorant-card {
        max-width: 300px;
    }

    .restorant-card span {
        font-size: .75em;
    }

    .restorant-img {
        max-width: 300px;  
        max-height: 196px;
    }

    footer{
        max-height: 150px;
    }
}