.shopping-cart-background{
    z-index: 9999;
}

.confirm-message-background {
    z-index: 99999;
}

.shopping-cart-box {
    background: #FFFFFF;
    border-radius: 5px;     
    padding: 40px 45px;
    min-width: 740px;
}

.shopping-cart-header,
.shopping-cart-footer,
.shopping-cart-prod-right,
.shopping-cart-prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart-footer{
    margin-top: 35px;
}

.shopping-cart-main {
    margin: 35px 0;
}

.shopping-cart-products {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    overflow: auto;
    height: 45vh;
}

.shopping-cart-products hr {
    margin-top: 8px;
}

.shopping-cart-prod {
    margin-top: 15px;
}

.empty-shoopng-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

.empty-shoopng-cart p {
    font-size: 36px;
    line-height: 42px;
    color: #BFBFBF;
}

.closeButton {
    font-weight: bold;
    font-size: 26px;
    color: #000;
    opacity: 1;
}
.closeButton:hover {
    opacity: .5;
    cursor: pointer;
}

.load-button {
    height: 40px;
    width: 123px;
    display: flex;
    justify-content: center;
}

.suggestions-wrapper {
    min-width: 740px;
    background: #FFFFFF;
    padding-left: 15px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    cursor: default;
    z-index: 999999;
}

.suggestion{
    list-style-type: none;
    padding: 4px 0;
}

.address-input {
    width: 100%;
}

.address-message {
    color: #8C8C8C;
    margin: 5px 0;
    font-size: 14px;
    list-style-type: none;
}

@media screen and (max-width:425px) {
    .shopping-cart-box {
        min-width: 300px;
    }

    .shopping-cart-background {
        background: #FFFFFF;
    }

    .shopping-cart-box p {
        font-size: 16px;
    }

    .shopping-cart-footer {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .shopping-cart-footer .sum-price {
        margin: 10px 0;
    }

    .shopping-cart-prod-right .price,
    .shopping-cart-prod-right .sum-price {
        display: none;
    }

    .suggestions-wrapper{
        min-width: 335px;
    }
}

@media screen and (max-width:375px) {
    
    .suggestions-wrapper{
        min-width: 300px;
    }
}
    